<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Trip Buddy</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    ul {
        list-style-type: none;
    }

    li {
        padding: 10px;
    }

    body {
        background-color: rgba(228, 222, 222, 0.466);
        font-family: garamond;
    }

    </style>
</head>
<body>
    <div class='container'>
        <div class='col'>
            <h2> {{ creator.first_name }} {{ creator.last_name }} Quotes</h2>
            <p>{{ quote.author ]} {{ content ]}</p>
            <a class='btn' href='/welcome'>Back</a>
            <a class='btn' href='/logout'>Logout</a>
            <p>{{ </p>
        </div>
    </div>
</body>