<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
</head>
<body>
    <div>
        <form>
            <h2>Add a new word</h2>
            <input type="text" name="first_name" id="name">
            <ul style="list-style-type:none">
                <li><label for="red">Red</label>
                    <input type="radio" id="red" name="color" value="red"></li>
                <li><label for="green">Green</label>
                    <input type="radio" id="green" name="color" value="green"></li>
                <li><label for="blue">Blue</label>
                    <input type="radio" id="blue" name="color" value="blue"></li>
            </ul>
            <label for="show in BIG fonts!">show in BIG fonts!</label>
            <input type="checkbox" id="font" name="font" value="font">
        </form>
    </div>
    <div>
        
    </div>
</body>
</html>