* {
    margin: 0px;
    padding: 0px;
}


.green {
    color: green;
}

.red {
    color: rgb(250, 35, 35);
}

img{
    padding-right: 10px;
}

p1{

margin-top:20px;
}

body{
background-color: black; 
color: white;
}

h1{
    color: white;
}

