<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Counter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <div class='container'>
            <h1 class='text-center'>Counter</h1>
            <h3 class='text-center'>{{ count }} times</h3>
            <div class='justify-content-center row'>
                <a href='/plus' name='plus' class='btn btn-info'>Add two visits!</a>
                <a href='/destroy_session' name='clear' class='btn btn-danger'>Reset</a>
            </div>
        </div>
    </body>
</html>